    body {
font-family: sans-serif;
display: block;
text-align: center;
margin-top: 100px;
        }
    img {
     max-width: 30%;
    }
    input {
        border-radius: 20px;
        padding: 10px 15px;
        border: thin solid rgba(0,0,0,0.1);
    }
    .input-button {
        border-radius: 10px;
        border: hidden;
    }