body {
    font-family: sans-serif;
    max-width: 1200px;
    margin: auto; 
    }
        img {
        display: block;
        width:50%;
        }
        .buttons {
            display: flex;
            justify-content: end;
            margin: 10px;
        }
        a {
            margin: 15px;
            text-decoration: none;
            color: black;
            font-size: 12px;
        }
        a:hover {
            box-shadow: 0 1px 0 0 rgb(0, 0, 0);
        }
    
    
    h1 {
        color: rgb(241, 48, 48);
        font-size: 22px;
        font-weight: lighter;
        
    }
    .search-tab {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 14px;
        
    }
    .text-row {
        min-width: auto;
        border:thin solid rgb(0, 0, 0, 0.2);
        padding: 8px;
    }
    
    #input-button {
background-color: rgb(95, 130, 233);
color: white;
padding: 10px;
border: thin rgb(95, 130, 233);
max-width: 150px;
border-radius: 4%;
margin-left: 300px;
}
form, header, .header-tab {
 display: grid;
 grid-template-columns: 1fr 2fr 2fr;
 }
 label {
     padding-left: 14px;
     padding-top: 20px;
 }
 form p {
     padding-top: 10px;
 }
form input {
    margin: 20px;
}
